.contenido {
    position: fixed;
    background-color: rgba(0,0,0,0.9);
    top:0;
    right:0;
    bottom:0;
    left:0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenido-modal {
    background-image: url('images/paper.jpg');
    background-size: cover;
    border-radius: 20px;
    width: 300px;
    height: 570px;
    margin-top: 30px;
    padding: 10px 20px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center space-between;
    cursor: default;
}

/* titulo */
#nombre-persona{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 98%;
    margin-top: 2px;
    margin-bottom: 5px;
}

.nombre-persona{
    width: 98%;
    text-align: center;
    margin-left: 18px;
    font-family: "HARRYP__";
    font-size: 30pt;
    font-weight: 100;
    color: #023f55;
    text-shadow: 1px 1px 1px rgba(59, 59, 59, 0.37);
}
.cerrar {
    padding: 5px;
    cursor: pointer;
    color: black;
    text-align: end;
    font-size: 20px;
}

/* foto */
#foto {
    text-align: center;
    margin-bottom: 3px;
    width: 85%;
    position: relative;
}


#foto .icono {
    position: absolute;
    width: 40%;
    height: 30%;
    top: 8px;
    right: 20px;
}

.foto{
    display: inline-block;
    width: 70%;
    height: 260px;
    box-shadow: 2px 3px 3px rgba(27, 27, 27, 0.8);
    margin-bottom: 1px;
    filter: grayscale(0%);
    border-radius: 20px;
}

#foto p {
    font-weight: 300;
    font-style: italic;
    font-size: 14px;
    color: #252525;
    text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.37);
}

/* datos */

.datos{
    padding: 2px;
    width: 85%;
    margin-bottom: 5px;
    border-radius: 10px;
}

.datos h2{
    color: #005675;
    text-align: center;
    font-size: 15.5px;
    margin-bottom: 3px;
}

.bday{
    color: #8f8f8f;
    text-align: center;
    font-size: 16px;
    margin-bottom: 5px;
}
.datos p{
    color: #292929;
    text-align: start;
    font-size: 13px;
    padding-left: 20%;
    font-weight: 400;
}

#datos-v-p{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98%;
    margin-top: 5%;
}

.varita{
    width: 45%;
    padding-bottom: 5px;
    color: #383838;
}

.varita h2, .patronus h2{
    padding: 2px;
    text-align: center;
    font-size: 17px;
    font-weight: 400;
    color: white;
    background-color: #125b75;
    border-radius: 9.5px 9.5px 10px 10px;
    box-shadow: 1px 1px 5px rgba(27, 27, 27, 0.8);
}

.varita p, .patronus p{
    text-align: start;
    font-size: 12px;
    font-weight: 400;
    margin-left: 10px;
    margin-top: 2%;
}

.patronus{
    width: 45%;
    color: #383838;
    padding-bottom: 2px;
}


/* INICIO */
#inicio{ /*div de vistas */
    margin-top: 60px;
    width: 100%;
    height: 100%;
    min-height: 800px;
    /* fondo de hipogrifo */
    background-image: url(images/hipo-e.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position-x: 70%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
}

#inicio img{
    margin-top: 100px;
    width: 60%;
    height: 30%;
}

#inicio p {
    margin-top: 20px;
    padding: 5px;
    width: 50%;
    color: #fff;
    text-align: justify;
    font-weight: 300;
    font-size: 14px;
}
.video{
    width: 90%;
    height: 215px;
    margin-top: 10px;
}

@media (min-width:1024px){

/* INICIO */

    #inicio{ /*div de vistas */
    margin-top: 60px;
    width: 100%;
    height: 100%;
    min-height: 800px;
    /* fondo de hipogrifo */
    background-image: url(images/hipo-e.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    }

    #inicio img{
        margin-top: 50px;
        width: 20%;
        height: 5%;
    }
    
    #inicio p {
        margin-top: 30px;
        padding: 5px;
        width: 30%;
        color: #fff;
        text-align: justify;
        font-weight: 300;
        font-size: 16px;
    }

    .video{
        width: 40%;
        height: 315px;
        margin-bottom: 50px;
    }

    /* MODAL */
    
    .contenido-modal {
        background-color: white;
        border-radius: 20px;
        width: 60%;
        height: 70%;
        margin-top: 60px;
        padding: 10px 50px;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        cursor: default;
    }
    
    /* titulo */
    #nombre-persona{
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-content: flex-end;
        order: 3;
        width: 50%;
        height: 80%;
        margin-bottom: 5px;
        position: absolute;
        top: 5%;
        right: 3%;
        bottom: 0;
    }
    
    .nombre-persona{
        width: 98%;
        text-align: center;
        padding-top: 3%;
        margin-left: 18px;
        font-family: "HARRYP__";
        font-size: 50pt;
        font-weight: 100;
        color: #023f55;
        text-shadow: 1px 1px 1px rgba(59, 59, 59, 0.37);
    }

    .cerrar {
        cursor: pointer;
        color: #464646;
        padding: 0% 1.09%;
        text-align: end;
        font-size: 30px;
        position: absolute;
        top: -3%;
        right: -3%;
        transition: 0.5s;
    }

    .cerrar:hover{
        color: #023f55;
        background: #023f558f;
        border-radius: 200px 200px 200px 200px;
    }
    
    /* foto */
    #foto{
        text-align: center;
        margin: 0px 40px 5px 5px;
        width: 35%;
        height: 90%;
        position: absolute;
        top: 30px;
        right: 0;
        bottom: 0;
        left: 7%;
    }

    #foto .icono {
        position: absolute;
        width: 40%;
        height: 30%;
        top: 3%;
        right: 5%;
    }
    
    .foto{
        display: inline-block;
        width: 90%;
        height: 95%;
        box-shadow: 2px 3px 10px rgba(27, 27, 27, 0.8);
        margin-bottom: 5px;
        filter: grayscale(0%);
        border-radius: 20px;
    }
    
    #foto p {
        font-weight: 300;
        font-style: italic;
        font-size: 18px;
        color: #252525;
        text-shadow: 0.5px 0.5px 1px rgba(0, 0, 0, 0.37);
    }
    
    /* datos */
    
    .datos{
        padding: 5px;
        width: 45%;
        height: 30%;
        margin-bottom: 5%;
        border-radius: 10px;
        position: absolute;
        top: 20%;
        right: 7%;
    }
    .datos h2 {
        color: #005675;
        text-align: center;
        font-size: 30px;
        margin-bottom: 20px;
       text-align: center;
    }
    .bday {
        color: #8f8f8f;
        text-align: center;
        font-size: 25px;
        margin-bottom: 15px;
        margin-top: 5px;
        text-align: start;
        padding-left: 10px;
    }
    .datos p{
        text-align: start;
        font-size: 20px;
        font-weight: 400;
        color: #292929;
        padding-left: 10px;
        margin-bottom: 5px;
    }
    
    #datos-v-p{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 50%;
        height: 30%;
        position: absolute;
        top: 55%;
        right: 5%;
    }
    
    .varita{
        width: 40%;
    }
    
    .varita h2, .patronus h2{
        text-align: center;
        font-size: 20px;
        font-weight: 400;
        padding: 3% 0%;
        color: white;
        background-color: #125b75;
        border-radius: 9.5px 9.5px 10px 10px;
        padding-bottom: 2px;
        box-shadow: 2px 3px 10px rgba(27, 27, 27, 0.8);
    }
    
    .varita p, .patronus p{
        text-align: start;
        font-size: 20px;
        padding-bottom: 8px;
        font-weight: 400;
        margin-left: 10px;
        color: #383838;
        margin-top: 5%;
    }
    
    .patronus{
        width: 40%;
    }
}