header{
    margin: auto;
    width: auto; 
    display: inline-block;
}
.bluetrans{
    background-image: url("http://getwallpapers.com/wallpaper/full/0/8/2/53557.jpg");
    width: auto;
    height: auto ;
    background-repeat: repeat;
    position: relative;
    margin: 0 auto;
    display: flex;
   
}
.contenedor{
    position: relative;
    text-align: center;
    margin: 15px 5px 5px;   
    margin-left: 20%;
    margin-right: -18%;
    width: 18%;
    background-color: rgb(222, 225, 231);
    font-family: 'Roboto Slab', serif;
    float: left;
    
}
.bluetrans:before{
    content:"";
    width: 120%;
    height: 100%;
    background-color: rgba(16, 49, 107, 0.479);
    position: absolute;
    opacity: 0.9;
    
}

ul, ol {
    list-style: none;
    position: absolute;
    font-family: 'Roboto Slab', serif;
   
}
.nav li b {
    margin-top: 5px;
    background-color: rgba(253, 190, 52, 1);
    color: #333333;
    text-decoration: none;
    padding: 8px;
    width: 130px;
    display: inline-block;
    
}
.nav li a {
    background-color: rgb(222, 225, 231);
    color: #333333;
    text-decoration: none;
    padding: 4px;
    width: 130px;
    display: inline-block;
    
}
.nav > li{
    float: inline-end;
    
    }
.nav li a:hover{
    background-color: rgb(123, 161, 238);
}
.nav li ul {
    display: none;
    position: relative;
}
.nav li:hover > ul {
    display: block;
}
.icono{
    line-height: 5px;
    margin: 5px;
}

@media screen and (max-width:640px) {
    /* reglas CSS */
  }
@media screen and (max-width:1024px) and (min-width:640px) {
    /* reglas CSS */
  }
@media screen and (min-width:1024px) {
    /* reglas CSS */
  }