*{
    padding: 0;
    margin: 0;
}

body{
    background-image: url("img/fonditos.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header{
    width: 100%;
    height: 120px;
    top: 0px;
    background: linear-gradient(to right, #0f0c29, #004e92);
    position: fixed; 
}

.logoHeader{
    display: flex;
    text-align: center;
    top: 10px;
    margin: auto;
    position: fixed;
    margin-left: 8%;
}

/* Contenedor transparente */
#contentCharacter{
    background: rgba(54, 88, 180, 0.411);
    width: 80%;
    text-align: center;
    margin-left: 11%;
    margin-top: 10%;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 10px;
    -webkit-box-shadow:25px 24px 24px -9px rgba(0,0,0,0.75);
    -moz-box-shadow:25px 24px 24px -9px rgba(0,0,0,0.75);
    box-shadow: 25px, 24px 24px -9px rgba(0, 0, 0, 0.75);
}

/* Contenedor blanco del personaje */
.content{
    width: 200px;
    height: 320px;
    background-color: white;
    margin: 10px 10px 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
}

  /* Estilo  NOMBRE*/
.name{
    font-family: 'Rokkitt', serif;
    font-size: 20px;
    margin-top: 15px;
}

  /* Estilo  IMAGEN*/
.imagePersonaje{
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    width: 170px;
    height: 240px;
    margin-top: 15px;
    border-radius: 5px;
}

  /* MODAL */
.modal{
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.452);
    transition: transform 1s;
}

.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contenidoModal{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 50%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    animation-name: modal;
    animation-duration: 1s;
    border-radius: 15px;
}

.imageCasa{
    width: 170px;
    height: 240px;
    margin-left: 40px;
}

.modalHeader, .modalFooter{
    padding: 8px -16px;
    background: rgba(21, 24, 25);
    color: #f2f2f2;
}

@keyframes modal{
    from{top: -330px; opacity: 0;}
    to{top: 0; opacity: 1;}
}

.close{
    color: #fefefe;
    font-size: 30px;
    font-weight: bold;
}

.close:hover{
    color: #7f8c8d;
    text-decoration: none;
    cursor: pointer;
}



.modalBody{
    padding: 20px 16px;
}
/*  */
/* FIN MODAL */
#caracteristicasH2{
    font-family: 'Cinzel Decorative', cursive;
    font-size: 30px;
    padding-left: 20px;
}

#caracteristicasP{
    font-family: 'Rokkitt', serif;
    font-size: 20px;
    text-align: justify;
    top: 7px;
    margin-left: 300px;
    position: absolute;
    margin-top: 30px;
    top: 60px;
}

/* imagen Barra, logo */
.barraImagen{
    width: 50%;
    margin-left: 50px;
    top: 5px;
    position: relative;
    padding: 5%;
}

.filterMenu{
    width: 280px;
    height: 100vh;
    background-color: #151719 ;
    float: left;
    margin-left: -350px;
    flex-flow: column wrap;
    padding: 15px 10px;
    transition: 0.5s;
    box-shadow: 3px 12px 15px 0 rgba(0, 0, 0, 0.18);
    /* position: fixed;  */
}

.show{
    margin-top: 0;
    margin-left: 0;
    width: 280px;
    /* position: fixed; */
}

.menu {
    font-family: Prociono, serif;
    font-size: 20px;
    color: whitesmoke;
    background: rgba(21, 24, 25);
    cursor: pointer;
    width: 8%;
    height: 50px; 
    outline: none;
    border-radius: 5px;
    margin-left: 20px;
    position: fixed;
}

.title {
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0;
    text-align: center;
    color: white;
}

.selectors {
    width: 200px;
    margin: 10px;
    padding: 8px;
    text-align-last: center;
    margin-left: 40px;
    border-radius: 10px;
    border: 0.5px solid #d1d1d1;
    outline: none;
    cursor: pointer;
}

/* BUSCADOR */
.searchBox{
    position: absolute;
    position: fixed;
    top: 10%;
    left: 78%;
    transform: translate(-50%, -50%);
    background: #000207;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}

.searchBox:hover > .search {
    width: 220px;
    padding: 0 6px;
}

.searchBox:hover > .searchBtn {
    background: rgb(246, 246, 248);
    color: #000207;
}

.searchBtn{
    color: #fafbfc;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #06000c;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}

.search{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}

.hide{
    display: none;
}

/* RESPONSIVE */
@media only screen and (max-width: 1000px){
    .logoHeader{
        width: 80%;
        text-align: center;
        margin: auto;
        position: relative;
    }
    .show {
        margin-left: 0;
        width: 250px;
    /* position: fixed; */
    }
    .menu {
        width: 78px;
        height: 50px;
    /* position: fixed; */
    }
    .contenidoModal{
        margin: auto;
        width: 80%;
    }

}
