*{
    margin:0;
    padding: 0;
    border: 0px;
}

body{
    background-image: url("img/fondo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 
}

.alignRight{
    display: flex;
    text-align: center;
    top: 10px;
    margin: auto;
    position: relative;
}

#contentCharacter{
    background: rgba(54, 88, 180, 0.411);
    width: 80%;
    text-align: center;
    margin-left: 10%;
    margin-top: 2%;
    margin-bottom: 2%;
    padding: 1%;
    border-radius: 10px;
    -webkit-box-shadow:25px 24px 24px -9px rgba(0,0,0,0.75);
    -moz-box-shadow:25px 24px 24px -9px rgba(0,0,0,0.75);
    box-shadow: 25px, 24px 24px -9px rgba(0, 0, 0, 0.75);
}

.content{
    width: 240px;
    height: 270px;
    perspective: 1000px;
    display: inline-block;
    align-content: center;
    justify-content: space-around;
    cursor: pointer;
    margin: 10px 10px 10px 5px;
    cursor: pointer; 
}

.imageCharacter{
    box-shadow: 0 2px 2px rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    cursor: pointer;
    color: black;
    width: 200px;
    margin-top: 20px;
    height: 180px;
}

.styleCharacter{
    background-color: white;
    width: 100%;
    height: 270px;
    padding: 1%;
    border-radius: 5px;
}

.name{
    font-family: 'Rokkitt', serif;
    font-size: 20px;
    /* padding: 5px;
    margin: 5px 20px; */
    border-radius: 5px;
    margin-top: 15px;
}

.imageHeight{
    width: 50%;
    display: flex;
    text-align: center;
    top: 5px;
    margin: auto;
    position: relative;
    border-bottom:solid 1px grey;
    padding: 5%;
}

/* Modal */
.flex{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    overflow: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.452);
}

.contenidoModal{
    position: relative;
    background-color: #fefefe;
    margin: auto;
    width: 30%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .4);
    animation-name: modal;
    animation-duration: 1s;
}
@keyframes modal{
    from{top: -330px; opacity: 0;}
    to{top: 0; opacity: 1;}
}

.close{
    color: #fefefe;
    font-size: 30px;
    font-weight: bold;
}

.close:hover{
    color: #7f8c8d;
    text-decoration: none;
    cursor: pointer;
}

.modalHeader, .modalFooter{
    padding: 8px -16px;
    background: #34495e;
    color: #f2f2f2;
}

p{
    text-align: justify;
}

.modalBody{
    padding: 20px 16px;
}

.filterMenu{
    width: 280px;
    height: 100vh;
    background-color: #151719 ;
    float: left;
    margin-left: -350px;
    flex-flow: column wrap;
    padding: 15px 10px;
    transition: 0.5s;
    box-shadow: 3px 12px 15px 0 rgba(0, 0, 0, 0.18);
    /* position: fixed; */
}

.show{
    margin-top: 0;
    margin-left: 0;
    width: 350x;
    /* position: fixed; */
}

.imageIcon{
    width: 35px;
    cursor: pointer;
    opacity: 0.4;
}

.title {
    font-size: 20px;
    font-weight: bolder;
    margin: 10px 0;
    text-align: center;
    color: white;
}

.selectors {
    width: 200px;
    margin: 10px;
    padding: 8px;
    text-align-last: center;
    margin-left: 40px;
    border-radius: 10px;
    border: 0.5px solid #d1d1d1;
    outline: none;
}

.hide{
    display: none;
}

@media only screen and (max-width: 1024px){
    .alignRight{
        width: 80%;
        text-align: center;
        margin: auto;
        position: relative;
    }

    .show {
        margin-left: 0;
        width: 500px;
    }
}
