* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: linear-gradient(to right, #141E30, #243B55);
  
  background-size: cover; 
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;

}

nav img {
  display: inline-block;
  display: block;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

header nav {
  background: linear-gradient(to right, #000000, #740001, #000000);
  z-index: 1000;
  /* max-width: 1000px; */
  width: 100%;
  margin: 20px auto;
  justify-content: space-around;
  height: 74px;
}

nav div {
  margin-top: 25px;
}

nav {
  display: flex;
}

nav > li {
  float:left;
  list-style: none;
}

nav li a {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #9fe6e9;
  border-radius: 10px;
  width: 120px;
  color:rgb(246, 247, 238);
  text-decoration:none;
  padding: 10px 12px;
  display:block;
  display: inline-flex;
  -webkit-transition:all 500ms ease;
  -o-transition:all 500ms ease;
  transition: all 500ms ease;
  margin-top: 18px;
}

nav li a img {
  margin-right: 10px;
}

nav li a:hover {
<<<<<<< HEAD
  background-color: #e7c607;
=======
  background-color: #e08a3a;
>>>>>>> 68cbeb52e01b1f8f7f6bef2e0c7bca2590d44090
  border-radius: 50px;
}

nav li ul {
  display:none;
  position:absolute;
  min-width:140px;
  list-style: none;
}

nav li:hover > ul {
  display:block;
}

.name {
  color: rgb(228, 253, 252);
  font-weight: bold;
  box-shadow: inset 0 0 0 3px #d4870c, black;
  height: 40px;
  width: 150px;
  border-radius: 25px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  background-color: transparent;
  text-align: center;
  margin-top: 25px;
  outline: none;
}

.mi-imagen {
  width: 104px;
  height: 122px;
  border-radius: 50%;
  margin-top: 20px;
}

.imagenPersonajes {
  /* background-image: url(../src/image/2222.jpg); */
  /* background-repeat: no-repeat; */
  text-align: center;
  border-radius: 80px;
}

.flip-card {
  display: inline-block;
  align-content: center;
  justify-content: space-around;
  margin: 60px 60px 60px 15px;
  border-radius: 10px;
  width: 18%;
  height: 250px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.container,
.anverso {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.container {
  color: white;
  box-shadow: inset 0 0 0 5px #740001;
  border-radius: 10px;
}

.anverso {
  background: linear-gradient(to right, #000000, #740001, #000000);
  color: rgb(216, 247, 247);
  transform: rotateY(180deg);
  border-radius: 10px;
  box-shadow: inset 0 0 0 5px #740001;
}

.box {
  margin-top: 30px;
  padding: 15px;
}

@media screen and (max-width:764px) {
<<<<<<< HEAD
  nav li a {
    width: 100px;

  }
  a {
    margin-left: 25px;
  }
=======
>>>>>>> 68cbeb52e01b1f8f7f6bef2e0c7bca2590d44090

  .name {
    color: rgb(231, 222, 222);
    width: 80%;
    font-size: 12px;
    outline: none;
  }
  .mi-imagen {
    width: 84px;
    height: 92px;
    border-radius: 50%;
    margin-top: 30px;
  }
  .flip-card {
    display: inline-block;
    align-content: center;
    justify-content: space-around;
    margin: 60px 40px 30px 25px;
    border-radius: 10px;
    width: 28%;
    height: 250px;
    perspective: 1000px;
  }

  .flip-card-inner {
    position: relative;
    text-align: center;
    width: 110%;
    border-radius: 10px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .container,
  .anverso {
    position: absolute;
    width: 100%;
    backface-visibility: hidden;
  }

  .container {
    color: white;
    border-radius: 10px;
  }

  .anverso {
    color: #eee;
    transform: rotateY(180deg);
    border-radius: 10px;
    box-shadow: inset 0 0 0 5px #29253d;
  }

  .box {
    margin-top: 30px;
    padding: 8px;
    font-size: 12px;
  }

}
