*{
    padding: 0;
    margin: 0;
}
body{
    
    background-image: url(fondo.jpg) ;
    background-size: cover; 
    background-attachment: fixed;
    background-position: center center;
    }

header{
    position: relative;
    text-align: center;
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
   }
   
.logo
{
    display: flex;
    justify-content: center;
    width: 30%;
}

#caja{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#contenedor-pokemon

{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 90%;
    margin: 10px;
    padding: 10px;   
}

#tarjeta-principal-pokemon
{
    position: relative;
    margin: 10pt;
    width: 200pt;
    height: 200pt;
    transition: transform 1s;
    transform-style: preserve-3d; 
    box-shadow: 18px 18px 12px 2px rgba(0,0,0,0.5);
    border-radius: 40pt;
}

#caja:hover #tarjeta-principal-pokemon{
transform: rotateY(180deg);
}

#tarjeta-datos-Pokemon, #tarjeta-caracteristicas-pokemon{
    background-color: white;
    color:black;
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
    border-radius: 40pt;
}

#tarjeta-caracteristicas-pokemon
{
    transform: rotateY(180deg);
}

.hidden{
    display: none;
}

@font-face {
    font-family: pokemonBlanco;
    src: url(letrapokemon1.ttf);
}  

@font-face {
    font-family: pokemonNegro;
    src: url(letrapokemon2.ttf);
}  

h2, h4{
    font-family: pokemonBlanco;
    font-size: 15pt;
}

#nombre-Pokemon{
    font-family: pokemonNegro;
    font-size: 15pt;
}

@media(max-width: 670px)
{
    #caja{
        width: 60%;
        height: 120pt;
        padding: 1%;
    }

    #tarjeta-principal-pokemon{
        height: 100%;
        width: 100%;
        font-size:8pt;
    }

    img{
        height:  40%;
        width:  40%;
    }

    h2, h4, #nombre-Pokemon{
        font-size:8pt;
    }


}